<div class="container my-3 py-5 text-center">
  <div class="row ">
    <div class="col">
      <h1>Places to Visit</h1>
      <hr />
    </div>
  </div>
</div>

<div class="container  text-center">
  <div class="row padding">
    <div class="col-md-4" *ngFor="let gallery of galleryImg">
      <div class="card">
        <img class="card-img-top" src="{{ gallery.url }}" alt="" />
        <div class="card-body">
          <h4 class="title">{{ gallery.name }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
