#carouselExampleIndicators .carousel-item {
  height: 568px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 568px;
  z-index: 1;
  color: white !important;
  overflow: hidden;
}

h5 {
  color: White;
  font-family: "Poppins", sans-serif;
}
