.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 625px;
  z-index: 1;
  color: white !important;
  overflow: hidden;
}

h5 {
  color: White;
  font-family: "Poppins", sans-serif;
}
.carousel-inner img {
  width: 100%;
  height: 625px;
  object-fit: cover;
}

@media screen and (max-width: 720px) {
  .carousel-inner img {
    width: 100%;
    height: 1280px;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 1280px;
    z-index: 1;
    color: white !important;
    overflow: hidden;
  }
}

@media screen and (max-width: 414px) {
  .carousel-inner img {
    width: 100%;
    height: 736px;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 736px;
    z-index: 1;
    color: white !important;
    overflow: hidden;
  }
}

@media screen and (max-width: 411px) {
  .carousel-inner img {
    width: 100%;
    height: 731px;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 731px;
    z-index: 1;
    color: white !important;
    overflow: hidden;
  }
}

@media screen and (max-width: 375px) {
  .carousel-inner img {
    width: 100%;
    height: 667px;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 667px;
    z-index: 1;
    color: white !important;
    overflow: hidden;
  }
}

@media screen and (max-width: 360px) {
  .carousel-inner img {
    width: 100%;
    height: 640px;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 640px;
    z-index: 1;
    color: white !important;
    overflow: hidden;
  }
}

@media screen and (max-width: 320px) {
  .carousel-inner img {
    width: 100%;
    height: 568px;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 568px;
    z-index: 1;
    color: white !important;
    overflow: hidden;
  }
}
