<section id="rooms">
  <div class="container my-3 py-5 text-center">
    <div class="row mb-5">
      <div class="col">
        <h1>Our Rooms</h1>
        <hr />
      </div>
    </div>
    <br />

    <div class="container">
      <div class="row padding">
        <div
          class="col-sm-3 "
          (click)="goToRoomDetails(roomDetail)"
          *ngFor="let roomDetail of roomDetails; let i = index"
        >
          <div class="card">
            <img
              class="card-img-top img-fluid"
              src="{{ roomDetail.img }}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5>{{ roomDetail.heading }}</h5>
              <h5>{{ roomDetail.price }}</h5>
              <p class="card-text">{{ roomDetail.type }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div
        class="col-lg-3  "
        *ngFor="let roomDetail of roomDetails; let i = index"
      >
        <div
          class="card "
          (click)="goToRoomDetails(roomDetail)"
          style="width: 15rem;"
        >
          <img
            class="card-img-top"
            src="{{ roomDetail.img }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5>{{ roomDetail.heading }}</h5>
            <h5>{{ roomDetail.price }}</h5>
            <p class="card-text">{{ roomDetail.type }}</p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
