<router-outlet></router-outlet>
<!-- <div class="jumbotron" style="background-color:transparent">
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-lg-4">
        <img
          src="https://images.oyoroomscdn.com/uploads/hotel_image/42030/large/3273f03a218a04da.jpg"
          class="img-fluid"
          alt="Responsive image"
        />

        <br /><br />
        <div class="book-room-btn">
          <button
            type="button"
            class="btn btn-success"
            [routerLink]="['/rooms/book-room']"
            routerLinkActive="router-link-active"
            (click)="getShowBookRoomBtn()"
          >
            Book Now
          </button>
        </div>
      </div>

      <div class="col-lg-4">
        <img
          src="https://images.oyoroomscdn.com/uploads/hotel_image/42030/large/3273f03a218a04da.jpg"
          class="img-fluid"
          alt="Responsive image"
        />

        <br /><br />
        <div class="book-room-btn">
          <button
            type="button"
            class="btn btn-success"
            [routerLink]="['/rooms/book-room']"
            routerLinkActive="router-link-active"
            (click)="getShowBookRoomBtn()"
          >
            Book Now
          </button>
        </div>
      </div>

      <div class="col-lg-4">
        <img
          src="https://images.oyoroomscdn.com/uploads/hotel_image/42030/large/3273f03a218a04da.jpg"
          class="img-fluid"
          alt="Responsive image"
        />

        <br /><br />
        <div class="book-room-btn">
          <button
            type="button"
            class="btn btn-success"
            [routerLink]="['/rooms/book-room']"
            routerLinkActive="router-link-active"
            (click)="getShowBookRoomBtn()"
          >
            Book Now
          </button>
        </div>
      </div>
    </div>
    <br />
    <div class="col-lg-6" *ngIf="btnShow" style="text-align: center;">
      <app-book-rooms></app-book-rooms>
    </div>
  </div>
</div> -->
